@using TrainChat.Web.Api.Localization

@{
    ViewBag.Title = "Чат-комната";    
}
<link href="~/Content/Chat.css" rel="stylesheet" />
<div id="chatblock" class="container">
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" value =@(ViewBag.userName ?? "")>
    <div id="chatmessages" class="col-md-8 col-xs-8 thumbnail">
        <div id="chattitle" class="thumbnail text-center">
            <h1> @Pages.ChooseChatRoom</h1></div>
        <div id="listmessages" class="thumbnail">
        </div>
        <div id="messagewindow" class="thumbnail">
            <div>
                <input type="button" id="sendmessage" class="btn btn-success" value=@Pages.Send>
            </div>
            <div>
                <textarea id="message" placeholder=@Pages.TypeMessage></textarea>
            </div>
            
        </div>
    </div>
    <div id="chatRoomsAndUsers" class="col-md-4 col-xs-4 thumbnail">
        <div class="titles">@Pages.RoomsList</div>
        <div id="listrooms" class="thumbnail">
        </div>
        <div class="titles">@Pages.UsersList</div>
        <div id="listusers" class="thumbnail">
        </div>
    </div> 
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/chat.js")
}
