@using TrainChat.Web.Api.Localization
@{
    ViewBag.Title = "Auth";
}

<h2>ChatAuth</h2>

@using (Html.BeginForm("Chat", "Chat"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Pages.PleaseSignIn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        <div class="form-group">
            @Html.Label(Pages.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox(Pages.Login, null, new { @class = "form-control", @id = "login" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label(Pages.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password(Pages.Password, null, new {@class = "form-control", @id = "password"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Pages.SignIn class="btn btn-default" onclick="return checkFields()" />
                <script>
                    function checkFields() {
                        var login = document.getElementById("login").value;
                        localStorage.setItem("login", login);
                        var password = document.getElementById("password").value;
                        if (!login || !password) {
                            alert('Not Registered');
                            return false;
                        }      
                        return true;                       
                    }
                </script>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Pages.Back, "Index", "User")
</div>
