@using TrainChat.Web.Api.Localization
@using TrainChat.Web.Api.Models
@Styles.Render("~/Content/css")
@model IEnumerable<TrainChat.Web.Api.Models.UserChatModel>

@{
    ViewBag.Title = Pages.UsersList;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Pages.UsersList</h4>
        <hr />
        <div class="form-group">
            <ul>   
           @{string col;}      
           @foreach (UserChatModel userChat in Model)
           {
               if (userChat.IsBanned == true) { col = "red"; }
               else { col = "black"; }
               <li class="user" id=@userChat.Id style="color:@col">
                    <a class="canselBan" href="#">
                        <span class="glyphicon glyphicon-ok-sign"/>
                    </a> 
                    <a class="setBan" href="#">
                        <span class="glyphicon glyphicon-ban-circle"/>
                    </a> 
                    @userChat.Name
               </li>
           }
           </ul>
        </div>     
    </div>                                            
<div>
    @Html.ActionLink(Pages.Back, "Chat", "Chat")
</div>
}
<style>
    .setBan{
        color:red;
    }
    .canselBan{
        color:blue;
    }
    .user{
        padding-left:20px;
        font-size: 16px;
    }
</style>
@section scripts {
<script>   
    $(document).ready(function () {
       
        $('.canselBan').on('click', function (e) {
            e.preventDefault();
            var idd = $(this).closest('li').attr('id');
            $('#' + idd).css('color', 'black');
            Ban(idd, false);
        });
        $('.setBan').on('click', function (e) {
            e.preventDefault();
            var idd = $(this).closest('li').attr('id');
            $('#' + idd).css('color', 'red');
            Ban(idd, true);
        });
    });
</script>

@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/chat.js")
@Scripts.Render("~/Scripts/jquery-ui.js")
}