@using TrainChat.Web.Api.Controllers
@using TrainChat.Web.Api.Localization
@using TrainChat.Web.Api.Models
@Styles.Render("~/Content/css")

@model IEnumerable<TrainChat.Web.Api.Models.RoomChatModel>
   
@{
    ViewBag.Title = Pages.RoomsList;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <div class="form-horizontal">
        <h4>@Pages.RoomsList</h4>
        <hr/>
        <div class="exchangeRate">
            <h3>USD</h3>
            <h4>@Pages.Buy : <span id="usd-buy"></span> UAH</h4>
            <h4>@Pages.Sale : <span id="usd-sale"></span> UAH</h4>
            <h3>EUR</h3>
            <h4>@Pages.Buy : <span id="eur-buy"></span> UAH</h4>
            <h4>@Pages.Sale : <span id="eur-sale"></span> UAH</h4>
            <div class="exchangeRateDate">
                @DateTime.Now.ToString()
            </div>
            </div>

        <div class="form-group">
            <ul>
                @{
                    int i = 0;
                    string icon;
                }
                @foreach (RoomChatModel rooms in Model)
                {
                    i++;
                    <li>
                        @{
                            icon = rooms.IsPrivate ? "glyphicon glyphicon-lock" : "glyphicon glyphicon-comment";
                        }
                        <span class="@icon"></span>
                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne_@i" aria-expanded="false"
                           aria-controls="collapseOne_@i" class="roomNames">@rooms.Name</a>
                    </li>

                    <div id="collapseOne_@i" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        <span class="panel-body">
                            <ul class="users">
                                <span class="roomCreator">
                                    <u>
                                    @{if (i <= 6)
                                      {
                                          @Pages.CreatedByAdmin                                        
                                      }
                                      else
                                      {
                                          <span class="creator">
                                            </span>
                                      }
                                    }
                                    </u>
                                </span>

                                @if (rooms.Users.Count != 0)
                                {
                                    <div class="roomUsers">@Pages.Users :</div>
                                    foreach (UserChatModel t in rooms.Users)
                                    {
                                        <li>@t.Name</li>
                                    }
                                }
                                @Html.ActionLink(Pages.Delete, "Delete", "Course", new {id = rooms.Id}, null) |
                                @Html.ActionLink(Pages.Edit, "Edit", "Course", new { id = rooms.Id }, null)
                            </ul>
                        </span>
                    </div>
                }
            </ul>
            <div>
                <span class="glyphicon glyphicon-plus"></span>
                @Html.ActionLink(Pages.AddNewRoom, "Create", "Course")
            </div>
        </div>        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $.get("https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5", function(data) {
                    $(data).each(function() {
                        var el = $(this)[0];
                        switch (el.ccy) {
                        case 'USD':
                            $('#usd-buy').text(parseFloat(Math.floor(Number(el.buy) * 100) / 100).toFixed(2));
                            $('#usd-sale').text(parseFloat(Math.floor(Number(el.sale) * 100) / 100).toFixed(2));
                            break;
                        case 'EUR':
                            $('#eur-buy').text(parseFloat(Math.floor(Number(el.buy) * 100) / 100).toFixed(2));
                            $('#eur-sale').text(parseFloat(Math.floor(Number(el.sale) * 100) / 100).toFixed(2));
                        }
                    });
                });
            });
        </script>
        <a class="aw-widget-legal">
        </a><div id="awcc1460116209445" class="aw-widget-current" data-locationkey="" data-unit="с" data-language="en-us" data-useip="true" data-uid="awcc1460116209445"></div>
        <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </div>
}
<script>
    @*function goToCreateView() {
        var url = "@Url.Action("Create", "Course")";
        window.location.href = url;
    }*@

    $(document).ready(function () {
        var divs = document.querySelectorAll('.creator');
        [].forEach.call(divs, function (div) {
            div.innerHTML = localStorage.getItem('login');
        });
    });
</script>
<div> 
    @Html.ActionLink(Pages.Back, "Chat", "Chat")
</div>


